In [ ]:
# Access AWS RDS with Python

import pymysql

db = pymysql.connect(host="database-test.******.amazonaws.com", user="*****", password="*****")
cursor = db.cursor()

# Drop and Create a table
cursor.execute(""" 
DROP DATABASE IF EXISTS testDB;
 """)

cursor.execute(""" 
CREATE DATABASE testDB;
 """)

cursor.execute(""" 
USE testDB;
 """)

# Create a table
cursor.execute(""" 
CREATE TABLE person (
    id int not null auto_increment,
    fname text,
    lname text,
    primary key (id)
)
 """)

# Insert a row into a table
cursor.execute(""" 
INSERT INTO person(
    fname, 
    lname
) 

VALUES(
    "aku", 
    "ankka"
)

""")

cursor.execute(""" 
SELECT * FROM person
 """)
cursor.fetchall()